
{% load static %}
{% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card border-light shadow-sm rounded-3">
                    <div class="card-header bg-primary text-white text-center py-3 rounded-top">
                        <h4 class="mb-0">{{ titulo }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            {% for field in form.visible_fields %}
                            <div class="form-group row mb-3">
                                <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}:</label>
                                <div class="col-sm-9">
                                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                    {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}

                                  
                                    {% if field.name == "password" %}
                                    <div class="form-check">
                                        <input type="checkbox" id="showPassword" class="form-check-input">
                                        <label for="showPassword" class="form-check-label">Mostrar contraseña</label>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer bg-light text-center py-3 rounded-bottom">
                        <button class="btn btn-primary px-4" type="submit">Enviar información</button>
                        <a class="btn btn-secondary px-4 ms-2" href="{{ listar_url }}">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if form.errors %}
    <script>
        var errors = '';
        {% for field in form %}
        {% for error in field.errors %}
        errors += '{{ error }}\n';
        {% endfor %}
        {% endfor %}

        Swal.fire({
            title: 'Error!',
            text: errors,
            icon: 'error',
        });
    </script>
    {% endif %}
</form>

{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

<script>
    document.getElementById('showPassword').addEventListener('change', function() {
        var passwordField = document.querySelector('input[name="password"]');
        var confPasswordField = document.querySelector('input[name="conf_password"]');
        if (this.checked) {
            passwordField.type = 'text';
            confPasswordField.type = 'text';
        } else {
            passwordField.type = 'password';
            confPasswordField.type = 'password';
        }
    });
</script>
