{% load static %}
{% load widget_tweaks %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restablecer contraseña</title>
    <link href="{% static 'img/logo.png' %}" rel="icon" alt="Bonanza">
    <link href="{% static 'css/olvidarcontraseña.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/modo_darks.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?V1.2">
       
</head>

<body>
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="{% url 'inicio' %}"><img src="{% static 'img/logo.png' %}" alt="Bonanza"></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Restablecer contraseña</p>
                <form action="#" method="post">
                    {% csrf_token %}

                    <div class="input-group mb-4">
                        {{ form.email | add_class:'form-control' | attr:'autocomplete:off' | attr:'placeholder:Ingrese el correo electrónico' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/modo_dark.js' %}"></script>
    <script src="{% static 'js/sienna.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>